In [4]:
from pathlib import Path

import pyarrow.compute as pc
import pandas as pd
import geopandas as gpd

from ghcnd.utils import GHCND

In [5]:
ghcnd = GHCND()
downloads = Path('C:/Users/Dhruv/Downloads')

In [6]:
# Count the maximum memory usage of all the datafiles
mem_usage = []
years = range(1900, 2025+1)
for year in years:
    query = pc.field('year') == year
    mem_usage.append(ghcnd.query(query).memory_usage(deep=True))

mem_usage = pd.DataFrame(mem_usage, index=years)
f'NOAA GHCND Max Memory Usage: {mem_usage.sum().sum() / 10 ** 9} GB'

'NOAA GHCND Max Memory Usage: 107.657825868 GB'

In [12]:
# Define a pyarrow filter expression:
# get all records from CHICAGO OHARE AIRPORT in 2010
# ohare_station_id = 'USW00094846'
# query = (pc.field('station_id') == ohare_station_id) & (pc.field('year') == 2010)
query = pc.field('year') == 2021
# query the data using the helper function
data = ghcnd.query(query)

In [13]:
data.memory_usage(deep=True).sum() / 10 ** 9

np.float64(1.84789564)

In [14]:
gdf = gpd.GeoDataFrame(data, geometry=gpd.points_from_xy(data.latitude, data.longitude), crs='EPSG:4326')

In [15]:
gdf

,station_id,latitude,longitude,elevation,name,year,month,day,PRCP,SNOW,SNWD,TMAX,TMIN,AWND,geometry
0,USC00400081,36.3806,-84.8744,501.4,ALLARDT,2021,12,17,157.0,0.0,0.0,NaN,NaN,NaN,POINT (36.3806 -84.8744)
1,USC00400081,36.3806,-84.8744,501.4,ALLARDT,2021,12,16,0.0,NaN,NaN,NaN,NaN,NaN,POINT (36.3806 -84.8744)
2,USC00400081,36.3806,-84.8744,501.4,ALLARDT,2021,12,14,0.0,NaN,NaN,NaN,NaN,NaN,POINT (36.3806 -84.8744)
3,USC00400081,36.3806,-84.8744,501.4,ALLARDT,2021,12,13,0.0,NaN,NaN,NaN,NaN,NaN,POINT (36.3806 -84.8744)
4,USC00400081,36.3806,-84.8744,501.4,ALLARDT,2021,12,5,0.0,NaN,NaN,NaN,NaN,NaN,POINT (36.3806 -84.8744)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8878893,MXM00076903,14.9170,-92.2500,118.0,TAPACHULA CHIS,2021,1,24,0.0,NaN,NaN,370.0,225.0,NaN,POINT (14.917 -92.25)
8878894,MXM00076903,14.9170,-92.2500,118.0,TAPACHULA CHIS,2021,3,10,0.0,NaN,NaN,383.0,230.0,NaN,POINT (14.917 -92.25)
8878895,MXM00076903,14.9170,-92.2500,118.0,TAPACHULA CHIS,2021,3,9,0.0,NaN,NaN,366.0,230.0,NaN,POINT (14.917 -92.25)
8878896,MXM00076903,14.9170,-92.2500,118.0,TAPACHULA CHIS,2021,1,5,0.0,NaN,NaN,346.0,220.0,NaN,POINT (14.917 -92.25)
8878897,MXM00076903,14.9170,-92.2500,118.0,TAPACHULA CHIS,2021,1,4,0.0,NaN,NaN,361.0,220.0,NaN,POINT (14.917 -92.25)