In [1]:
import pyarrow.compute as pc

from ghcnd.utils import GHCND

In [2]:
ghcnd = GHCND()

# Define a pyarrow filter expression:
# get all records from CHICAGO OHARE AIRPORT in 2010
ohare_station_id = 'USW00094846'
query = (pc.field('station_id') == ohare_station_id) & (pc.field('year') == 2010)

# query the data using the helper function
ohare = ghcnd.query(query)

In [3]:
ohare

,station_id,latitude,longitude,elevation,name,year,month,day,PRCP,SNOW,SNWD,TMAX,TMIN,AWND
0,USW00094846,41.9603,-87.9317,204.8,CHICAGO OHARE INTL AP,2010,12,25,15.0,23.0,127.0,-6.0,-67.0,49.0
1,USW00094846,41.9603,-87.9317,204.8,CHICAGO OHARE INTL AP,2010,12,27,0.0,0.0,152.0,-56.0,-117.0,39.0
2,USW00094846,41.9603,-87.9317,204.8,CHICAGO OHARE INTL AP,2010,12,30,0.0,0.0,76.0,78.0,11.0,75.0
3,USW00094846,41.9603,-87.9317,204.8,CHICAGO OHARE INTL AP,2010,12,13,0.0,0.0,25.0,-89.0,-139.0,74.0
4,USW00094846,41.9603,-87.9317,204.8,CHICAGO OHARE INTL AP,2010,11,2,0.0,0.0,0.0,111.0,0.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,USW00094846,41.9603,-87.9317,204.8,CHICAGO OHARE INTL AP,2010,2,11,0.0,0.0,178.0,-11.0,-122.0,26.0
361,USW00094846,41.9603,-87.9317,204.8,CHICAGO OHARE INTL AP,2010,1,17,0.0,0.0,51.0,-17.0,-72.0,24.0
362,USW00094846,41.9603,-87.9317,204.8,CHICAGO OHARE INTL AP,2010,1,16,0.0,0.0,51.0,-28.0,-50.0,32.0
363,USW00094846,41.9603,-87.9317,204.8,CHICAGO OHARE INTL AP,2010,1,5,0.0,0.0,51.0,-50.0,-106.0,38.0
364,USW00094846,41.9603,-87.9317,204.8,CHICAGO OHARE INTL AP,2010,3,25,8.0,0.0,0.0,83.0,-17.0,80.0